
# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python/
env/
venv/
.env

# Jupyter Notebook specific files
.ipynb_checkpoints/

# Conda related files
.conda/
.condatmp/

# Ignore data files
*.csv
*.json
data