services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: streamlit_app
    ports:
      - "8501:8501"
    environment:
      - STREAMLIT_SERVER_HEADLESS=true
    restart: unless-stopped

  train:
    build:
      context: .
      dockerfile: Dockerfile.dev
    container_name: ml_training
    volumes:
      - ./models:/app/models
      - ./Data:/app/Data
      - ./src:/app/src
    environment:
      - RUN_TESTS=false
      - RUN_JUPYTER=false
    tty: true