numpy
pandas
scikit-learn
xgboost # mithula-cbw 2025.07.13
matplotlib
seaborn
jupyterlab
joblib
# streamlit  # Commented out for now; will add later when building the web app interface

# mithula-cbw
prettytable